<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Магазин парфюмерии</h1>
    <ul>
        <li><a href="/parfume/new">1. Добавить парфюм</a></li>
        <li><a href="/parfume">2. Просмотр всего парфюма</a></li>
        <li><a href="/parfume/search">3. Поиск парфюма по типу</a></li>
        <li><a href="/parfume/exit">4. Выход</a></li>
    </ul>
</body>
</html>
